In [201]:
import pickle
import pandas as pd
import re
import matplotlib as plt

In [2]:
df1 = pickle.load(open("all_linkedin_worldwide_datascience_jobs_with_salary.pkl", "rb"))
df2 = pickle.load(open("all_gd_company_infos.pkl", "rb"))

In [3]:
#df2.describe()

In [4]:
df2 = df2.drop_duplicates(subset = 'company')

In [5]:
#df2.describe()

In [6]:
jobs = df1.merge(df2, how = 'left', on = 'company')

In [7]:
#jobs

In [8]:
#jobs.describe()

In [9]:
jobs = jobs.drop_duplicates(subset = 'href')

In [10]:
#jobs.describe()

In [11]:
#pd.set_option('display.max_colwidth', -1)
#jobs[jobs['salary'] == "$\n/yr"]['href']

In [12]:
jobs = jobs.drop(index = [91,93])

In [13]:
jobs = jobs.reset_index(drop=True)

In [14]:
indices = jobs[jobs['salary'] == "$\n/yr"].index
missing_salaries = {86: 117000, 87: 79500, 88: 126000, 89: 118000, 90: 107000, 128: 140000, 129: 94000, 130: 11700, 131: 106000, 132: 108500, 133: 73067, 134: 94000}
for index in indices:
    jobs.iloc[index]['salary'] = missing_salaries[index]

In [15]:
#jobs['salary'].unique()

In [16]:
#jobs[jobs['salary'] == 'CA$73,027/yr – CA$84,510/yr']

In [17]:
jobs.iloc[24]['salary'] = 58849

In [18]:
#jobs[jobs['salary'] == '£40,000/yr – £45,000/yr']

In [19]:
jobs.iloc[52]['salary'] = 54000

In [20]:
#jobs[jobs['salary'] == '€30,000/yr – €45,000/yr']

In [21]:
jobs.iloc[71]['salary'] = 44000

In [22]:
#jobs[jobs['salary'] == '$120,000/yr – $133,000/yr']

In [23]:
jobs.iloc[76]['salary'] = 126500

In [24]:
#jobs[jobs['salary'] == '$56,600/yr – $60,000/yr']

In [25]:
jobs.iloc[85]['salary'] = 58300
jobs.iloc[183]['salary'] = 58300

In [26]:
#jobs[jobs['salary'] == '£60,000/yr – £100,000/yr']

In [27]:
jobs.iloc[91]['salary'] = 102000

In [28]:
#jobs[jobs['salary'] == '$102,000/yr – $145,000/yr']

In [29]:
jobs.iloc[94]['salary'] = 124000

In [30]:
#jobs[jobs['salary'] == '£40,000/yr – £58,000/yr']

In [31]:
jobs.iloc[103]['salary'] = 62000
jobs.iloc[139]['salary'] = 62000

In [32]:
#jobs[jobs['salary'] == '£65,000/yr – £80,000/yr']

In [33]:
jobs.iloc[104]['salary'] = 92383

In [34]:
#jobs[jobs['salary'] == '$100,000/yr – $130,000/yr']

In [35]:
jobs.iloc[109]['salary'] = 115000

In [36]:
#jobs[jobs['salary'] =='$120,000/yr – $140,000/yr']

In [37]:
jobs.iloc[122]['salary'] = 130000

In [38]:
#jobs[jobs['salary'] == '$70/hr – $100/hr']

In [39]:
jobs.iloc[125]['salary'] = 153000
jobs.iloc[212]['salary'] = 153000

In [40]:
#jobs[jobs['salary'] =='£35,310/yr – £50,938/yr']

In [41]:
jobs.iloc[219]['salary'] = 54967

In [42]:
#jobs[jobs['salary'] == '£50,000/yr – £70,000/yr']

In [43]:
jobs.iloc[220]['salary'] = 76455

In [44]:
#jobs[jobs['salary'] ==  '$90,000/yr – $120,000/yr']

In [45]:
jobs.iloc[221]['salary'] = 105000

In [46]:
#jobs[jobs['salary'] == '£65,000/yr – £70,000/yr']

In [47]:
jobs.iloc[222]['salary'] = 86012

In [48]:
def convert_salary_to_usd(salary):

    conversion_rate = {'CA' : 0.75, '€' : 1.16, '£' : 1.27}
    
    if type(salary) == int:
        return salary

    elif 'CA' in salary:
        salary = int(re.sub('[^0-9]','', salary))
        salary = salary * conversion_rate['CA']
        salary = round(salary)
        return salary
    
    elif '€' in salary:
        salary = int(re.sub('[^0-9]','', salary))
        salary = salary * conversion_rate['€']
        salary = round(salary)
        return salary
    
    elif '£' in salary:
        salary = int(re.sub('[^0-9]','', salary))
        salary = salary * conversion_rate['£']
        salary = round(salary)
        return salary

    else:
        salary = int(re.sub('[^0-9]','', salary))
        return salary

In [49]:
jobs['salary'] = jobs['salary'].apply(convert_salary_to_usd)

In [50]:
jobs['href'] = jobs['href'].str[0:45]

In [51]:
jobs = jobs.drop_duplicates('href')

In [52]:
jobs = jobs.reset_index(drop=True)

In [53]:
#jobs

In [54]:
#jobs.describe(include = 'all')

In [55]:
common_locations = ['CA', 'NY', 'VA', 'IL', 'WA', 'OR' 'England', 'ON', 'GA', 'MA', 'TX', 'NC', 'MD', 'D.C.', 'NJ', 'MI', 'AZ', 'CO', 'Scotland', 'BC', 'QC', 'Ireland']

def process_location(location):
    location = location.split(",")
    try:
        state_province_country = location[1].strip()
        if state_province_country in common_locations:
            return state_province_country
        else:
            return "Other"
    except:
        return "Other"

In [56]:
jobs['location_bin'] = jobs['location'].apply(process_location)

In [57]:
#cols = list(jobs.columns.values)
#cols = cols[0:3] + [cols[-1]] + cols[3:17]
#jobs = jobs[cols]

In [58]:
#jobs

In [59]:
jobs.loc[20, 'location_bin'] = 'NY'
jobs.loc[23, 'location_bin'] = 'CA'
jobs.loc[62, 'location_bin'] = 'CA'
jobs.loc[77, 'location_bin'] = 'OR'
jobs.loc[81, 'location_bin'] = 'AZ'
jobs.loc[87, 'location_bin'] = 'TX'
jobs.loc[88, 'location_bin'] = 'BC'
jobs.loc[89, 'location_bin'] = 'ON'
jobs.loc[92, 'location_bin'] = 'MD'
jobs.loc[94, 'location_bin'] = 'England'
jobs.loc[99, 'location_bin'] = 'CA'
jobs.loc[109, 'location_bin'] = 'CA'
jobs.loc[111, 'location_bin'] = 'CA'
jobs.loc[112, 'location_bin'] = 'IL'
jobs.loc[120, 'location_bin'] = 'ON'
jobs.loc[124, 'location_bin'] = 'England'
jobs.loc[125, 'location_bin'] = 'NC'
jobs.loc[142, 'location_bin'] = 'CA'
jobs.loc[145, 'location_bin'] = 'CA'
jobs.loc[146, 'location_bin'] = 'QC'
jobs.loc[152, 'location_bin'] = 'MA'
jobs.loc[156, 'location_bin'] = 'CA'
jobs.loc[178, 'location_bin'] = 'MA'
jobs.loc[187, 'location_bin'] = 'England'

In [60]:
#pd.set_option('display.max_rows', 500)
#jobs

In [61]:
#missing_company_size = jobs[(jobs['company_size'] == -1) | (jobs['company_size'].isnull())]
#missing_company_size

In [62]:
jobs.loc[0, 'company_size'] = '1001 to 5000 employees' 
jobs.loc[55, 'company_size'] = '201 to 500 employees' 
jobs.loc[69, 'company_size'] = 'Unknown'
jobs.loc[81, 'company_size'] = '5001 to 10000 employees'
jobs.loc[83, 'company_size'] = 'Unknown'
jobs.loc[96, 'company_size'] = '1001 to 5000 employees'
jobs.loc[109, 'company_size'] = '1 to 50 employees'
jobs.loc[110, 'company_size'] = '1 to 50 employees'
jobs.loc[149, 'company_size'] = '1 to 50 employees'
jobs.loc[179, 'company_size'] = '1 to 50 employees'
jobs.loc[183, 'company_size'] = '10000+ employees'
jobs.loc[189, 'company_size'] = '1 to 50 employees'
jobs.loc[197, 'company_size'] = 'Unknown'

In [63]:
#jobs['company_type'].unique()

In [64]:
#jobs[(jobs['company_type'] == -1)| (jobs['company_type'] == 'Unknown') | (jobs['company_type'].isnull()) | (jobs['company_type'].str.contains('\d{4}'))]

In [65]:
jobs['company_type'] = jobs['company_type'].astype(str)
jobs['industry'] = jobs['industry'].astype(str)

In [66]:
jobs[jobs['company_type'] == 'Hospital']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
163,The Ohio State University Wexner Medical Center,Research Scientist,"Columbus, OH, US",https://www.linkedin.com/jobs/view/2155680910,74500,Job Description\n\nResearch Scientist (Job Ope...,[],"Seniority Level\nAssociate\nIndustry\nHealth, ...","Columbus, OH (US)",10000+ employees,Hospital,Healthcare Services & Hospitals,Unknown / Non-Applicable,3.8,74,85,2.8,Other

In [67]:
def fix_company_types(kind_of_company, industry):
    company_kinds = {"Public" : "Public", "Private" : "Private", "College / University" : "College / University", "Government" : "Government", "Non-profit Organisation" : "Non-profit Organisation", "Hospital" : "Hospital", "Subsidiary or Business Segment" : "Subsidiary or Business Segment", "Contract" : "Other"}
    for x in company_kinds:
        if (x in kind_of_company) or (x in industry):
            return company_kinds[x]
    return kind_of_company

In [68]:
jobs['company_type'] = jobs.apply(lambda x: fix_company_types(x['company_type'], x['industry']), axis=1)

In [69]:
company_types = ["Public", "Private", "College / University", "Government", "Non-profit Organisation", "Hospital", "Subsidiary or Business Segment", "Other"]
jobs[~jobs['company_type'].isin(company_types)]

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
0,TikTok,Data Scientist - TikTok Ads,"Mountain View, CA",https://www.linkedin.com/jobs/view/2148228403,144000,TikTok is the leading destination for short-fo...,[],,-1,1001 to 5000 employees,-1,-1,-1,-1,-1,-1,2.7,CA
43,"IDR, Inc.",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2148117911,123000,Data Scientist\nIDR's largest client is in nee...,"[2+ years of experience in Data Science, 1+ ye...",Seniority Level\nMid-Senior level\nIndustry\nI...,Unknown,Unknown,Unknown,Unknown / Non-Applicable per year,-1,0.0,-1,-1,-1,NY
55,"Maven Wave, an Atos Company",Data Scientist,"Chicago, IL",https://www.linkedin.com/jobs/view/2148258053,101000,"Description\n\nWho We Are!\n\nAt Maven Wave, a...",[ Leverage data to drive business solutions fo...,Seniority Level\nEntry level\nIndustry\nInform...,NaN,201 to 500 employees,nan,nan,NaN,NaN,NaN,NaN,NaN,IL
69,ClearedJobs.Net,"Data Scientist, Junior","Arlington, VA",https://www.linkedin.com/jobs/view/2161159731,85900,"Job Number: R0087914\n\nData Scientist, Junior...","[Experience with machine learning, data mining...",Seniority Level\nEntry level\nIndustry\nDefens...,NaN,Unknown,nan,nan,NaN,NaN,NaN,NaN,NaN,VA
81,Arizona State University,Data Scientist,"Phoenix, Arizona, United States",https://www.linkedin.com/jobs/view/2000022726,58300,Data Scientist\nArizona State University\nCamp...,[],Job Details\nIndustry\nHigher Education\nEmplo...,-1,5001 to 10000 employees,-1,-1,-1,-1,-1,-1,2.4,AZ
83,TeraCrunch,Data Scientist/Principal Data Scientist,"Kansas City, Missouri",https://www.linkedin.com/jobs/view/513112591/,107000,No visa sponsorships. Please apply if you are ...,"[Analyze raw data: assess quality, clean, stru...",-1,NaN,Unknown,nan,nan,NaN,NaN,NaN,NaN,NaN,Other
93,Full Circle Recruitment Ltd,Data Scientist,"London, England, United Kingdom",https://www.linkedin.com/jobs/view/2010225259,62000,R/Python - Data Scientist £40-58K + Package\n\...,[],Job Details\nSeniority Level\nMid-Senior level...,1 to 50 employees,Unknown,Staffing & Outsourcing,Less than $1 million (CAD) per year,-1,3.8,82,-1,3.6,Other
96,"Yoh, A Day & Zimmermann Company",Data scientist,"Lawrence, NJ, US",https://www.linkedin.com/jobs/view/2148232025,112000,Our client is looking for a Data Scientist for...,[ Provide scientific guidance on the applicati...,Seniority Level\nEntry level\nIndustry\nInform...,NaN,1001 to 5000 employees,nan,nan,NaN,NaN,NaN,NaN,NaN,NJ
109,Codex Recruitment - Data Analytics and EPM Rec...,Data Scientist,San Francisco Bay Area,https://www.linkedin.com/jobs/view/2013720049,130000,"Data Scientist – San Francisco - $120-140,000\...",[],Job Details\nSeniority Level\nMid-Senior level...,NaN,1 to 50 employees,nan,nan,NaN,NaN,NaN,NaN,NaN,CA
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,-1,-1,-1,-1,100,-1,-1,MD
149,"Data Works, an E3/Sentinel Company",Data Scientist,"Chantilly, VA, US\nRemote",https://www.linkedin.com/jobs/view/1981379030,94200,Data Works is an employee-focused technology c...,"[Work with large, complex, and disparate data ...",Seniority Level\nEntry level\nIndustry\nInform...,NaN,1 to 50 employees,nan,nan,NaN,NaN,NaN,NaN,NaN,VA
179,Miles,Data Scientist,"Redwood City, CA",https://www.linkedin.com/jobs/view/1642504002,142000,What you'll need:\n\nEducation\nMaster's/PhD (...,[Master's/PhD (preferred) or Bachelor's (requi...,Seniority Level\nEntry level\nIndustry\nMarket...,-1,1 to 50 employees,-1,-1,-1,-1,-1,-1,-1,CA
183,KBR Careers - Gov Solutions,Data Scientist,"Sioux Falls, SD",https://www.linkedin.com/jobs/view/2158194670,93000,"Title\n\nData Scientist\nKBR, Inc. is seeking ...","[Bachelor’s degree in remote sensing, geograph...",Seniority Level\nEntry level\nIndustry\nConstr...,NaN,10000+ employees,nan,nan,NaN,NaN,NaN,NaN,NaN,Other
189,Apply Recruitment,Data Scientist,"Cheshire, England, United Kingdom\nRemote",https://www.linkedin.com/jobs/view/2006329197,86012,"Data Scientist required, working in the R&D te...",[Statistical analysis experience across a rang...,-1,NaN,1 to 50 employees,nan,nan,NaN,NaN,NaN,NaN,NaN,Other
197,ClearedJobs.Net,Data Scientist / Research Scientist,"Aberdeen, MD",https://www.linkedin.com/jobs/view/2014909266,94100,The U.S. Army Research Laboratory Computationa...,[Investigate new algorithms and novel approach...,Seniority Level\nEntry level\nIndustry\nElectr...,NaN,Unknown,nan,nan,NaN,NaN,NaN,NaN,NaN,MD

In [70]:
jobs.loc[[0, 43, 55, 69, 81, 83, 93, 96, 109, 110, 149, 179, 183, 189, 197], 'company_type'] = ['Private', 'Private', 'Private', 'Unknown', "College / University", "Unknown", "Private", "Private", "Private", "Private", "Private", "Private", "Public", "Private", "Unknown"]

In [71]:
jobs.loc[43, 'company_size'] = '201 to 500 employees'

In [72]:
jobs['industry'].value_counts()

Computer Hardware & Software               24
Internet                                   16
Unknown                                    11
Enterprise Software & Network Solutions    10
Staffing & Outsourcing                     10
Healthcare Services & Hospitals             9
IT Services                                 9
nan                                         9
Government Agencies                         7
Colleges & Universities                     7
Consulting                                  6
Aerospace & Defence                         5
Biotech & Pharmaceuticals                   5
Insurance Operators                         5
Subsidiary or Business Segment              5
Department, Clothing, & Shoe Shops          4
-1                                          4
Transportation Equipment Manufacturing      4
Advertising & Marketing                     3
Company - Public                            3
Legal                                       3
Other Retail Shops                          3
Research & Development                      2
Food & Drink Manufacturing                  2
Industrial Manufacturing                    2
Miscellaneous Manufacturing                 2
Banks & Building Societies                  2
Accounting                                  2
Company - Public (AET)                      2
Video Games                                 2
Pet & Pet Supply Shops                      2
Vehicle Dealers                             1
Architectural & Engineering Services        1
Investment Banking & Asset Management       1
Utilities                                   1
Consumer Product Hire                       1
Grocery Shops & Supermarkets                1
Energy                                      1
Logistics & Supply Chain                    1
Company - Private                           1
Education Training Services                 1
Charitable Foundations                      1
Regional & County Councils                  1
Company - Public (TCSN)                     1
Pharmacies & Health Shops                   1
Health Charities                            1
Unknown / Non-Applicable per year           1
Lending                                     1
Mining                                      1
Express Delivery Services                   1
Health, Beauty & Fitness                    1
Transportation Management                   1
Telecommunications Services                 1
News Outlets                                1
Chemical Manufacturing                      1
Hotel & Resorts                             1
Social Services                             1
Less than $1 million (CAD) per year         1
Name: industry, dtype: int64

In [73]:
jobs[jobs['industry'] == '-1']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
0,TikTok,Data Scientist - TikTok Ads,"Mountain View, CA",https://www.linkedin.com/jobs/view/2148228403,144000,TikTok is the leading destination for short-fo...,[],,-1,1001 to 5000 employees,Private,-1,-1,-1,-1,-1,2.7,CA
81,Arizona State University,Data Scientist,"Phoenix, Arizona, United States",https://www.linkedin.com/jobs/view/2000022726,58300,Data Scientist\nArizona State University\nCamp...,[],Job Details\nIndustry\nHigher Education\nEmplo...,-1,5001 to 10000 employees,College / University,-1,-1,-1,-1,-1,2.4,AZ
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,Private,-1,-1,-1,100,-1,-1,MD
179,Miles,Data Scientist,"Redwood City, CA",https://www.linkedin.com/jobs/view/1642504002,142000,What you'll need:\n\nEducation\nMaster's/PhD (...,[Master's/PhD (preferred) or Bachelor's (requi...,Seniority Level\nEntry level\nIndustry\nMarket...,-1,1 to 50 employees,Private,-1,-1,-1,-1,-1,-1,CA

In [74]:
jobs.loc[[0, 81, 110, 179], 'industry'] = ['Internet', 'Colleges & Universities', 'Enterprise Software & Network Solutions', 'Internet']

In [75]:
jobs[jobs['industry'] == 'Unknown']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
6,"University of California, San Francisco",Research Data Scientist,"San Francisco, CA",https://www.linkedin.com/jobs/view/1942484976,116000,Job Overview\n\nJob Summary\n\nThe Research Da...,[ BA/BS degree with a major in a related field...,Industry\nHigher Education\nEmployment Type\nF...,"San Francisco, CA (US)",10000+ employees,College / University,Unknown,$50 to $100 million (CAD) per year,4.2,82,89,2.8,CA
29,Intellibee Inc,Data Scientist,"Montgomery County, KS",https://www.linkedin.com/jobs/view/2161279589,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,Unknown,Unknown / Non-Applicable per year,0.0,-1,-1,-1,Other
54,Spring Discovery,Applied Data Scientist,"San Carlos, CA",https://www.linkedin.com/jobs/view/1966697903,148000,Spring is accelerating the discovery of therap...,[ Experience. You have 3+ years of real-world ...,Seniority Level\nEntry level\nIndustry\nResear...,"Murfreesboro, TN (US)",1 to 50 employees,Private,Unknown,Unknown / Non-Applicable per year,4.0,-1,-1,-1,CA
70,One Drop,Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/1992841869,127000,We’re seeing a passionate Data Scientist to jo...,"[Developing machine learning, deep learning, o...",Seniority Level\nEntry level\nIndustry\nMarket...,"Montreal, QC",1 to 50 employees,Subsidiary or Business Segment,Unknown,Unknown / Non-Applicable per year,2.8,0,-1,-1,NY
84,&facts,Data Scientist,United Kingdom\nRemote,https://www.linkedin.com/jobs/view/2023714208,102000,"What we're looking for...\nAt &facts, you'll b...",[A passion for helping small businesses thrive...,Job Details\nSeniority Level\nEntry level\nInd...,"Clute, TX (US)",51 to 200 employees,Public,Unknown,Unknown / Non-Applicable per year,2.2,18,-1,1,Other
90,Saatchi & Saatchi (We Are Saatchi),Data Scientist,"Dallas, TX, US",https://www.linkedin.com/jobs/view/2000560526,106000,At Saatchi & Saatchi we believe in creating id...,[Deliver actionable insights to our clients le...,Seniority Level\nEntry level\nIndustry\nMarket...,"London, England (UK)",501 to 1000 employees,Other,Unknown,$100 to $500 million (CAD) per year,3.4,55,87,2.7,TX
119,IOMAXIS,Data Scientist - AI / ML_,"Fort Belvoir, VA, US",https://www.linkedin.com/jobs/view/2163962861,108500,Be a part of a dynamic team of technical profe...,[Assists in research and development for softw...,Seniority Level\nEntry level\nIndustry\nInform...,"Fredericksburg, VA (US)",51 to 200 employees,Private,Unknown,$10 to $25 million (CAD) per year,4.4,100,100,1.5,VA
121,Evans & Chambers Technology,Data Scientist,"Washington, D.C., DC, US",https://www.linkedin.com/jobs/view/2007984424,94000,Title\n\nData Scientist\n\nID\n\n10000088\n\nD...,[Bachelor's Degree or higher in Software Engin...,Seniority Level\nEntry level\nIndustry\nInform...,"Washington, DC (US)",51 to 200 employees,Private,Unknown,Unknown / Non-Applicable per year,4.5,100,100,3,D.C.
134,Intellibee Inc,Data Scientist,"Montgomery, KS, US",https://www.linkedin.com/jobs/view/2161280305,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,Unknown,Unknown / Non-Applicable per year,0.0,-1,-1,-1,Other
187,MBN Solutions,Data Scientist,"London, England Metropolitan Area",https://www.linkedin.com/jobs/view/2011658600,76455,"MBNs client, an award-winning Telecommunicatio...","[Experience in end to end model development, i...",-1,"Glasgow, Scotland (UK)",1 to 50 employees,Private,Unknown,Unknown / Non-Applicable per year,3.8,66,-1,3,England
194,"University of California, San Francisco",Research Data Scientist,"San Francisco, CA",https://www.linkedin.com/jobs/view/2148815598,116000,Job Overview\n\nJob Summary\n\nThe Research Da...,[ BA/BS degree with a major in a related field...,Industry\nHigher Education\nEmployment Type\nF...,"San Francisco, CA (US)",10000+ employees,College / University,Unknown,$50 to $100 million (CAD) per year,4.2,82,89,2.8,CA

In [76]:
unknown_industry_indices = jobs[jobs['industry'] == 'Unknown'].index
jobs.loc[unknown_industry_indices, 'industry'] = ['Colleges & Universities', 'IT Services', 'Computer Hardware & Software', 'Computer Hardware & Software', 'Advertising & Marketing', 'Advertising & Marketing', 'Aerospace & Defence', 'IT Services' , 'IT Services', 'Staffing & Outsourcing', 'Colleges & Universities']

In [77]:
jobs.loc[70, 'company_size'] = '1 to 50 employees'
jobs.loc[70, 'company_type'] = 'Private'

jobs.loc[84, 'company_size'] = '1 to 50 employees'
jobs.loc[84, 'company_type'] = 'Private'

In [78]:
jobs[jobs['industry'] == 'Company - Private']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
18,MATCHESFASHION,Data Scientist,"London, England, United Kingdom",https://www.linkedin.com/jobs/view/2149281425,57658,At MATCHESFASHION we are on a mission to offer...,[We believe<strong> we all have a part to play...,Seniority Level\nMid-Senior level\nIndustry\nI...,"London, England (UK)",501 to 1000 employees,Private,Company - Private,"Department, Clothing, & Shoe Shops",2.9,44,67,2.5,Other

In [79]:
jobs.loc[18, 'industry'] = 'Department, Clothing, & Shoe Shops'

In [80]:
jobs[jobs['industry'] == 'Company - Public']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
31,Loblaw Digital,Data Scientist,"Toronto, ON",https://www.linkedin.com/jobs/view/1996955933,77250,"At Loblaw Digital, we know that our customers ...","[Build robust, scalable, high performance Pred...",Seniority Level\nEntry level\nIndustry\nInform...,"Toronto, ON",51 to 200 employees,Public,Company - Public,Internet,3.1,42,-1,2.7,ON
92,Flywheel Digital,Data Scientist,"Baltimore, Maryland, United States",https://www.linkedin.com/jobs/view/2011468036,128000,Flywheel Digital by Ascential\n\nPosition: Dat...,[Own data science projects through full cycle ...,Job Details\nSeniority Level\nMid-Senior level...,"Baltimore, MD (US)",Unknown,Public,Company - Public,Advertising & Marketing,3.3,57,-1,-1,MD
151,Hill's Pet Nutrition,Data Scientist (Remote Work Option),"Topeka, KS, US",https://www.linkedin.com/jobs/view/2020480715,82100,Relocation Assistance Offered Within Country\n...,[<strong>Develop custom data models and algori...,Industry\nConsumer Goods Logistics & Supply Ch...,"Topeka, KS (US)",1001 to 5000 employees,Public,Company - Public,Consumer Products Manufacturing,3.8,76,82,3.1,Other

In [81]:
jobs.loc[[31, 92, 151], 'industry'] = ['Internet', 'Advertising & Marketing', 'Consumer Products Manufacturing']

In [82]:
jobs[jobs['industry'] == 'Company - Public (AET)']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
32,"Aetna, a CVS Health Company",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2161977357,117000,Job Description\n\nLooking for opportunities t...,"[Participates in the development, validation a...",Seniority Level\nEntry level\nIndustry\nInsura...,"Hartford, CT (US)",10000+ employees,Public,Company - Public (AET),Insurance Operators,3.3,61,74,2.7,NY
192,"Aetna, a CVS Health Company",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2157726632,118000,Job Description\n\nParticipates in the develop...,"[Develops, validates and executes algorithms a...",Seniority Level\nEntry level\nIndustry\nInsura...,"Hartford, CT (US)",10000+ employees,Public,Company - Public (AET),Insurance Operators,3.3,61,74,2.7,NY

In [83]:
jobs.loc[[32, 192], 'industry'] = 'Insurance Operators'

In [84]:
jobs[jobs['industry'] == 'Subsidiary or Business Segment']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
41,"Vans, a VF Company",Data Scientist,"Costa Mesa, CA",https://www.linkedin.com/jobs/view/1985230531,91900,Vans: Be a Part of the Original\n\n“It was nev...,"[We are determined. , We are connected to our ...",Seniority Level\nEntry level\nIndustry\nAppare...,"Cypress, CA (US)",5001 to 10000 employees,Subsidiary or Business Segment,Subsidiary or Business Segment,General Merchandise & Superstores,4.0,80,91,2.1,CA
75,Apcera,Data Scientist,"Santa Clara, CA",https://www.linkedin.com/jobs/view/2162273638,139000,"Date: Sep 8, 2020\nEricsson Inc. does not spon...",[ You get to work with an outstanding local an...,Seniority Level\nEntry level\nIndustry\nInform...,"San Francisco, CA (US)",1 to 50 employees,Subsidiary or Business Segment,Subsidiary or Business Segment,Enterprise Software & Network Solutions,3.0,26,28,3,CA
102,Transamerica,R20017030 - Data Scientist,"Denver, CO, US",https://www.linkedin.com/jobs/view/1861143007,111000,Description\n\nJob Description Summary\n\nAs p...,[Design experiments and formulate machine lear...,Seniority Level\nEntry level\nIndustry\nInform...,"Baltimore, MD (US)",5001 to 10000 employees,Subsidiary or Business Segment,Subsidiary or Business Segment,Insurance Operators,3.1,42,47,2.4,CO
145,Toyota Research Institute,Senior Machine Learning Engineer / Data Scient...,"Los Altos, California, United States",https://www.linkedin.com/jobs/view/1731743947,147000,"At Toyota Research Institute (TRI), we’re work...",[Collaborate cross-functionally with machine l...,,"Los Altos, CA (US)",201 to 500 employees,Subsidiary or Business Segment,Subsidiary or Business Segment,Research & Development,3.5,66,54,2.7,CA
205,PlayStation,Data Scientist Intern,"San Mateo, CA",https://www.linkedin.com/jobs/view/2149521530,139000,PlayStation isn’t just the Best Place to Play ...,[Building models to predict customer behaviors...,Seniority Level\nInternship\nIndustry\nCompute...,"San Mateo, CA (US)",5001 to 10000 employees,Subsidiary or Business Segment,Subsidiary or Business Segment,Video Games,3.7,75,73,2.7,CA

In [85]:
jobs.loc[[41, 75, 102, 145, 205], 'industry'] = ['General Merchandise & Superstores', 'Enterprise Software & Network Solutions', 'Insurance Operators', 'Research & Development', 'Video Games']

In [86]:
jobs[jobs['industry'] == 'Company - Public (TCSN)']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
184,Tata Consultancy Services,Data Scientist,"Redmond, WA",https://www.linkedin.com/jobs/view/1996902418,91000,"Data Scientist / Redmond, WA\nGRS 161371\nMand...",[Degree in an analytical field (e.g. Computer ...,-1,Mumbai (India),10000+ employees,Public,Company - Public (TCSN),Computer Hardware & Software,-1,-1,-1,,WA

In [87]:
jobs.loc[184, 'industry'] = 'Computer Hardware & Software'

In [88]:
jobs[jobs['industry'] == 'Less than $1 million (CAD) per year']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
93,Full Circle Recruitment Ltd,Data Scientist,"London, England, United Kingdom",https://www.linkedin.com/jobs/view/2010225259,62000,R/Python - Data Scientist £40-58K + Package\n\...,[],Job Details\nSeniority Level\nMid-Senior level...,1 to 50 employees,Unknown,Private,Less than $1 million (CAD) per year,-1,3.8,82,-1,3.6,Other

In [89]:
jobs.loc[93, 'revenue'] = 'Less than $1 million (CAD) per year'
jobs.loc[93, 'industry'] = 'Staffing & Outsourcing'

In [90]:
jobs[jobs['industry'] == 'nan']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
55,"Maven Wave, an Atos Company",Data Scientist,"Chicago, IL",https://www.linkedin.com/jobs/view/2148258053,101000,"Description\n\nWho We Are!\n\nAt Maven Wave, a...",[ Leverage data to drive business solutions fo...,Seniority Level\nEntry level\nIndustry\nInform...,NaN,201 to 500 employees,Private,nan,NaN,NaN,NaN,NaN,NaN,IL
69,ClearedJobs.Net,"Data Scientist, Junior","Arlington, VA",https://www.linkedin.com/jobs/view/2161159731,85900,"Job Number: R0087914\n\nData Scientist, Junior...","[Experience with machine learning, data mining...",Seniority Level\nEntry level\nIndustry\nDefens...,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,VA
83,TeraCrunch,Data Scientist/Principal Data Scientist,"Kansas City, Missouri",https://www.linkedin.com/jobs/view/513112591/,107000,No visa sponsorships. Please apply if you are ...,"[Analyze raw data: assess quality, clean, stru...",-1,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,Other
96,"Yoh, A Day & Zimmermann Company",Data scientist,"Lawrence, NJ, US",https://www.linkedin.com/jobs/view/2148232025,112000,Our client is looking for a Data Scientist for...,[ Provide scientific guidance on the applicati...,Seniority Level\nEntry level\nIndustry\nInform...,NaN,1001 to 5000 employees,Private,nan,NaN,NaN,NaN,NaN,NaN,NJ
109,Codex Recruitment - Data Analytics and EPM Rec...,Data Scientist,San Francisco Bay Area,https://www.linkedin.com/jobs/view/2013720049,130000,"Data Scientist – San Francisco - $120-140,000\...",[],Job Details\nSeniority Level\nMid-Senior level...,NaN,1 to 50 employees,Private,nan,NaN,NaN,NaN,NaN,NaN,CA
149,"Data Works, an E3/Sentinel Company",Data Scientist,"Chantilly, VA, US\nRemote",https://www.linkedin.com/jobs/view/1981379030,94200,Data Works is an employee-focused technology c...,"[Work with large, complex, and disparate data ...",Seniority Level\nEntry level\nIndustry\nInform...,NaN,1 to 50 employees,Private,nan,NaN,NaN,NaN,NaN,NaN,VA
183,KBR Careers - Gov Solutions,Data Scientist,"Sioux Falls, SD",https://www.linkedin.com/jobs/view/2158194670,93000,"Title\n\nData Scientist\nKBR, Inc. is seeking ...","[Bachelor’s degree in remote sensing, geograph...",Seniority Level\nEntry level\nIndustry\nConstr...,NaN,10000+ employees,Public,nan,NaN,NaN,NaN,NaN,NaN,Other
189,Apply Recruitment,Data Scientist,"Cheshire, England, United Kingdom\nRemote",https://www.linkedin.com/jobs/view/2006329197,86012,"Data Scientist required, working in the R&D te...",[Statistical analysis experience across a rang...,-1,NaN,1 to 50 employees,Private,nan,NaN,NaN,NaN,NaN,NaN,Other
197,ClearedJobs.Net,Data Scientist / Research Scientist,"Aberdeen, MD",https://www.linkedin.com/jobs/view/2014909266,94100,The U.S. Army Research Laboratory Computationa...,[Investigate new algorithms and novel approach...,Seniority Level\nEntry level\nIndustry\nElectr...,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,MD

In [91]:
import glassdoor_company_info_scraper as gd_scraper

In [94]:
unscraped_companies = ['Maven Wave Partners', 'Yoh', 'Codex', 'Data Works', 'KBR', 'Apply']
unscraped_companies_df = gd_scraper.scrape_glassdoor_company_info(unscraped_companies)

finished scraping company # 1
finished scraping company # 2
finished scraping company # 3
finished scraping company # 4
finished scraping company # 5
finished scraping company # 6

In [96]:
unscraped_companies_df

,company,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,Maven Wave Partners,-1,201 to 500 employees,Company - Private,Consulting,$50 to $100 million (CAD) per year,4.3\n★★★★★,93,97,2.9
1,Yoh,"Philadelphia, PA (US)",1001 to 5000 employees,Company - Private,Staffing & Outsourcing,$100 to $500 million (CAD) per year,3.0\n★★★★★,37,53,2.5
2,Codex,"London, England (UK)",1 to 50 employees,Company - Private,Computer Hardware & Software,Unknown / Non-Applicable per year,3.8\n★★★★★,65,-1,3
3,Data Works,"Reston, VA (US)",1 to 50 employees,Company - Private,Enterprise Software & Network Solutions,$5 to $10 million (CAD) per year,5.0\n★★★★★,100,-1,-1
4,KBR,"Houston, TX (US)",10000+ employees,Company - Public (KBR),Energy,$5 to $10 billion (CAD) per year,3.7\n★★★★★,67,84,2.5
5,Apply,Frankfurt am Main (Germany),1 to 50 employees,Unknown,Unknown,Less than $1 million (CAD) per year,5.0\n★★★★★,100,100,-1

In [102]:
unscraped_companies_df['company_type'] = unscraped_companies_df.apply(lambda x: fix_company_types(x['company_type'], x['industry']), axis=1)

In [100]:
unscraped_companies_df.loc[5, 'industry'] = 'Staffing & Outsourcing'
unscraped_companies_df.loc[5, 'company_type'] = 'Private'

In [105]:
unscraped_companies_df

,company,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,Maven Wave Partners,-1,201 to 500 employees,Private,Consulting,$50 to $100 million (CAD) per year,4.3\n★★★★★,93,97,2.9
1,Yoh,"Philadelphia, PA (US)",1001 to 5000 employees,Private,Staffing & Outsourcing,$100 to $500 million (CAD) per year,3.0\n★★★★★,37,53,2.5
2,Codex,"London, England (UK)",1 to 50 employees,Private,Computer Hardware & Software,Unknown / Non-Applicable per year,3.8\n★★★★★,65,-1,3
3,Data Works,"Reston, VA (US)",1 to 50 employees,Private,Enterprise Software & Network Solutions,$5 to $10 million (CAD) per year,5.0\n★★★★★,100,-1,-1
4,KBR,"Houston, TX (US)",10000+ employees,Public,Energy,$5 to $10 billion (CAD) per year,3.7\n★★★★★,67,84,2.5
5,Apply,Frankfurt am Main (Germany),1 to 50 employees,Private,Staffing & Outsourcing,Less than $1 million (CAD) per year,5.0\n★★★★★,100,100,-1

In [104]:
unscraped_companies_df.loc[4, 'company_type'] = 'Public'

In [113]:
jobs.loc[[55, 96, 109, 149, 183, 189], ['company_size', 'company_type', 'industry', 'revenue', 'company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']] = unscraped_companies_df[['company_size', 'company_type', 'industry', 'revenue', 'company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']].values

In [115]:
jobs[jobs['industry'] == 'nan']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
69,ClearedJobs.Net,"Data Scientist, Junior","Arlington, VA",https://www.linkedin.com/jobs/view/2161159731,85900,"Job Number: R0087914\n\nData Scientist, Junior...","[Experience with machine learning, data mining...",Seniority Level\nEntry level\nIndustry\nDefens...,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,VA
83,TeraCrunch,Data Scientist/Principal Data Scientist,"Kansas City, Missouri",https://www.linkedin.com/jobs/view/513112591/,107000,No visa sponsorships. Please apply if you are ...,"[Analyze raw data: assess quality, clean, stru...",-1,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,Other
197,ClearedJobs.Net,Data Scientist / Research Scientist,"Aberdeen, MD",https://www.linkedin.com/jobs/view/2014909266,94100,The U.S. Army Research Laboratory Computationa...,[Investigate new algorithms and novel approach...,Seniority Level\nEntry level\nIndustry\nElectr...,NaN,Unknown,Unknown,nan,NaN,NaN,NaN,NaN,NaN,MD

In [119]:
jobs.loc[[69, 83, 197], ['company_size', 'company_type', 'industry', 'revenue']] = [['1 to 50 employees', 'Private', 'Aerospace & Defence', 'Unknown / Non-Applicable per year'],
['1 to 50 employees', 'Private', 'IT Services', 'Unknown / Non-Applicable per year'],
['1 to 50 employees', 'Private', 'Aerospace & Defence', 'Unknown / Non-Applicable per year']]

In [122]:
jobs['revenue'].value_counts()

Unknown / Non-Applicable                     48
$10+ billion (CAD) per year                  41
$2 to $5 billion (CAD) per year              21
Unknown / Non-Applicable per year            17
$100 to $500 million (CAD) per year          13
$5 to $10 billion (CAD) per year             11
$50 to $100 million (CAD) per year            9
$1 to $2 billion (CAD) per year               8
$10 to $25 million (CAD) per year             8
-1                                            5
Less than $1 million (CAD) per year           4
$500 million to $1 billion (CAD) per year     4
Insurance Operators                           3
$1 to $5 million (CAD) per year               3
$5 to $10 million (CAD) per year              3
General Merchandise & Superstores             1
Advertising & Marketing                       1
Consumer Products Manufacturing               1
Department, Clothing, & Shoe Shops            1
Enterprise Software & Network Solutions       1
Research & Development                        1
Internet                                      1
Computer Hardware & Software                  1
Video Games                                   1
Name: revenue, dtype: int64

In [123]:
jobs[jobs['revenue'] == -1]

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
0,TikTok,Data Scientist - TikTok Ads,"Mountain View, CA",https://www.linkedin.com/jobs/view/2148228403,144000,TikTok is the leading destination for short-fo...,[],,-1,1001 to 5000 employees,Private,Internet,-1,-1,-1,-1,2.7,CA
43,"IDR, Inc.",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2148117911,123000,Data Scientist\nIDR's largest client is in nee...,"[2+ years of experience in Data Science, 1+ ye...",Seniority Level\nMid-Senior level\nIndustry\nI...,Unknown,201 to 500 employees,Private,Unknown / Non-Applicable per year,-1,0.0,-1,-1,-1,NY
81,Arizona State University,Data Scientist,"Phoenix, Arizona, United States",https://www.linkedin.com/jobs/view/2000022726,58300,Data Scientist\nArizona State University\nCamp...,[],Job Details\nIndustry\nHigher Education\nEmplo...,-1,5001 to 10000 employees,College / University,Colleges & Universities,-1,-1,-1,-1,2.4,AZ
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,Private,Enterprise Software & Network Solutions,-1,-1,100,-1,-1,MD
179,Miles,Data Scientist,"Redwood City, CA",https://www.linkedin.com/jobs/view/1642504002,142000,What you'll need:\n\nEducation\nMaster's/PhD (...,[Master's/PhD (preferred) or Bachelor's (requi...,Seniority Level\nEntry level\nIndustry\nMarket...,-1,1 to 50 employees,Private,Internet,-1,-1,-1,-1,-1,CA

In [125]:
(jobs['revenue'] == 'Enterprise Software & Network Solutions')jobs.loc[[0, 43, 81, 110, 179], 'revenue'] = ['Unknown / Non-Applicable', '$50 to $100 million (CAD) per year', '$2 to $5 billion (CAD) per year', 'Unknown / Non-Applicable', 'Unknown / Non-Applicable']

In [128]:
revenues_with_errors = jobs[(jobs['revenue'] == 'Insurance Operators') | (jobs['revenue'] == 'General Merchandise & Superstores') | (jobs['revenue'] == 'Advertising & Marketing') | (jobs['revenue'] == 'Consumer Products Manufacturing') | (jobs['revenue'] == 'Department, Clothing, & Shoe Shops') | (jobs['revenue'] == 'Enterprise Software & Network Solutions') | (jobs['revenue'] == 'Research & Development') | (jobs['revenue'] == 'Internet') | (jobs['revenue'] == 'Computer Hardware & Software') | (jobs['revenue'] == 'Video Games')]

In [131]:
companies_missing_revenue = revenues_with_errors['company'].values

unscraped_companies_df = gd_scraper.scrape_glassdoor_company_info(companies_missing_revenue)

finished scraping company # 1
finished scraping company # 2
finished scraping company # 3
finished scraping company # 4
finished scraping company # 5
finished scraping company # 6
finished scraping company # 7
finished scraping company # 8
finished scraping company # 9
finished scraping company # 10
finished scraping company # 11
finished scraping company # 12

In [134]:
revenues_with_errors

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
18,MATCHESFASHION,Data Scientist,"London, England, United Kingdom",https://www.linkedin.com/jobs/view/2149281425,57658,At MATCHESFASHION we are on a mission to offer...,[We believe<strong> we all have a part to play...,Seniority Level\nMid-Senior level\nIndustry\nI...,"London, England (UK)",501 to 1000 employees,Private,"Department, Clothing, & Shoe Shops","Department, Clothing, & Shoe Shops",2.9,44,67,2.5,Other
31,Loblaw Digital,Data Scientist,"Toronto, ON",https://www.linkedin.com/jobs/view/1996955933,77250,"At Loblaw Digital, we know that our customers ...","[Build robust, scalable, high performance Pred...",Seniority Level\nEntry level\nIndustry\nInform...,"Toronto, ON",51 to 200 employees,Public,Internet,Internet,3.1,42,-1,2.7,ON
32,"Aetna, a CVS Health Company",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2161977357,117000,Job Description\n\nLooking for opportunities t...,"[Participates in the development, validation a...",Seniority Level\nEntry level\nIndustry\nInsura...,"Hartford, CT (US)",10000+ employees,Public,Insurance Operators,Insurance Operators,3.3,61,74,2.7,NY
41,"Vans, a VF Company",Data Scientist,"Costa Mesa, CA",https://www.linkedin.com/jobs/view/1985230531,91900,Vans: Be a Part of the Original\n\n“It was nev...,"[We are determined. , We are connected to our ...",Seniority Level\nEntry level\nIndustry\nAppare...,"Cypress, CA (US)",5001 to 10000 employees,Subsidiary or Business Segment,General Merchandise & Superstores,General Merchandise & Superstores,4.0,80,91,2.1,CA
75,Apcera,Data Scientist,"Santa Clara, CA",https://www.linkedin.com/jobs/view/2162273638,139000,"Date: Sep 8, 2020\nEricsson Inc. does not spon...",[ You get to work with an outstanding local an...,Seniority Level\nEntry level\nIndustry\nInform...,"San Francisco, CA (US)",1 to 50 employees,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Enterprise Software & Network Solutions,3.0,26,28,3,CA
92,Flywheel Digital,Data Scientist,"Baltimore, Maryland, United States",https://www.linkedin.com/jobs/view/2011468036,128000,Flywheel Digital by Ascential\n\nPosition: Dat...,[Own data science projects through full cycle ...,Job Details\nSeniority Level\nMid-Senior level...,"Baltimore, MD (US)",Unknown,Public,Advertising & Marketing,Advertising & Marketing,3.3,57,-1,-1,MD
102,Transamerica,R20017030 - Data Scientist,"Denver, CO, US",https://www.linkedin.com/jobs/view/1861143007,111000,Description\n\nJob Description Summary\n\nAs p...,[Design experiments and formulate machine lear...,Seniority Level\nEntry level\nIndustry\nInform...,"Baltimore, MD (US)",5001 to 10000 employees,Subsidiary or Business Segment,Insurance Operators,Insurance Operators,3.1,42,47,2.4,CO
145,Toyota Research Institute,Senior Machine Learning Engineer / Data Scient...,"Los Altos, California, United States",https://www.linkedin.com/jobs/view/1731743947,147000,"At Toyota Research Institute (TRI), we’re work...",[Collaborate cross-functionally with machine l...,,"Los Altos, CA (US)",201 to 500 employees,Subsidiary or Business Segment,Research & Development,Research & Development,3.5,66,54,2.7,CA
151,Hill's Pet Nutrition,Data Scientist (Remote Work Option),"Topeka, KS, US",https://www.linkedin.com/jobs/view/2020480715,82100,Relocation Assistance Offered Within Country\n...,[<strong>Develop custom data models and algori...,Industry\nConsumer Goods Logistics & Supply Ch...,"Topeka, KS (US)",1001 to 5000 employees,Public,Consumer Products Manufacturing,Consumer Products Manufacturing,3.8,76,82,3.1,Other
184,Tata Consultancy Services,Data Scientist,"Redmond, WA",https://www.linkedin.com/jobs/view/1996902418,91000,"Data Scientist / Redmond, WA\nGRS 161371\nMand...",[Degree in an analytical field (e.g. Computer ...,-1,Mumbai (India),10000+ employees,Public,Computer Hardware & Software,Computer Hardware & Software,-1,-1,-1,,WA
192,"Aetna, a CVS Health Company",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2157726632,118000,Job Description\n\nParticipates in the develop...,"[Develops, validates and executes algorithms a...",Seniority Level\nEntry level\nIndustry\nInsura...,"Hartford, CT (US)",10000+ employees,Public,Insurance Operators,Insurance Operators,3.3,61,74,2.7,NY
205,PlayStation,Data Scientist Intern,"San Mateo, CA",https://www.linkedin.com/jobs/view/2149521530,139000,PlayStation isn’t just the Best Place to Play ...,[Building models to predict customer behaviors...,Seniority Level\nInternship\nIndustry\nCompute...,"San Mateo, CA (US)",5001 to 10000 employees,Subsidiary or Business Segment,Video Games,Video Games,3.7,75,73,2.7,CA

In [132]:
unscraped_companies_df

,company,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,MATCHESFASHION,"London, England (UK)",501 to 1000 employees,1987,Company - Private,"Department, Clothing, & Shoe Shops",2.8\n★★★★★,39,67,2.5
1,Loblaw Digital,"Toronto, ON",51 to 200 employees,Unknown,Company - Public,Internet,3.1\n★★★★★,42,-1,2.7
2,"Aetna, a CVS Health Company","Hartford, CT (US)",10000+ employees,1853,Company - Public (AET),Insurance Operators,3.4\n★★★★★,61,74,2.7
3,"Vans, a VF Company","Cypress, CA (US)",5001 to 10000 employees,1966,Subsidiary or Business Segment,General Merchandise & Superstores,4.0\n★★★★★,82,91,2.1
4,Apcera,"San Francisco, CA (US)",1 to 50 employees,2012,Subsidiary or Business Segment,Enterprise Software & Network Solutions,3.0\n★★★★★,26,28,3
5,Flywheel Digital,"Baltimore, MD (US)",Unknown,2014,Company - Public,Advertising & Marketing,3.3\n★★★★★,57,-1,-1
6,Transamerica,"Baltimore, MD (US)",5001 to 10000 employees,1904,Subsidiary or Business Segment,Insurance Operators,3.1\n★★★★★,43,50,2.4
7,Toyota Research Institute,"Los Altos, CA (US)",201 to 500 employees,2016,Subsidiary or Business Segment,Research & Development,3.5\n★★★★★,66,54,2.7
8,Hill's Pet Nutrition,"Topeka, KS (US)",1001 to 5000 employees,1907,Company - Public,Consumer Products Manufacturing,3.8\n★★★★★,72,82,3.1
9,Tata Consultancy Services,Mumbai (India),10000+ employees,1968,Company - Public (TCSN),Computer Hardware & Software,3.8\n★★★★★,76,90,2.7
10,"Aetna, a CVS Health Company","Hartford, CT (US)",10000+ employees,1853,Company - Public (AET),Insurance Operators,3.4\n★★★★★,61,74,2.7
11,PlayStation,"San Mateo, CA (US)",5001 to 10000 employees,1994,Subsidiary or Business Segment,Video Games,3.7\n★★★★★,75,73,2.7

In [135]:
jobs.loc[184, ['company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']] = unscraped_companies_df.loc[9, ['company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']].values

In [139]:
import importlib
importlib.reload(gd_scraper)
missing_company_revenues_df = gd_scraper.scrape_glassdoor_company_info(companies_missing_revenue)

finished scraping company # 1
finished scraping company # 2
finished scraping company # 3
finished scraping company # 4
finished scraping company # 5
finished scraping company # 6
finished scraping company # 7
finished scraping company # 8
finished scraping company # 9
finished scraping company # 10
finished scraping company # 11
finished scraping company # 12

In [140]:
missing_company_revenues_df

                        company                          revenue
0                MATCHESFASHION                               -1
1                Loblaw Digital         Unknown / Non-Applicable
2   Aetna, a CVS Health Company      $10+ billion (CAD) per year
3            Vans, a VF Company  $2 to $5 billion (CAD) per year
4                        Apcera         Unknown / Non-Applicable
5              Flywheel Digital         Unknown / Non-Applicable
6                  Transamerica      $10+ billion (CAD) per year
7     Toyota Research Institute         Unknown / Non-Applicable
8          Hill's Pet Nutrition  $2 to $5 billion (CAD) per year
9     Tata Consultancy Services      $10+ billion (CAD) per year
10  Aetna, a CVS Health Company      $10+ billion (CAD) per year
11                  PlayStation      $10+ billion (CAD) per year

In [141]:
missing_company_revenues_df.loc[0, 'revenue'] = '$50 to $100 million (CAD) per year'

In [143]:
jobs.loc[revenues_with_errors.index, 'revenue'] = missing_company_revenues_df['revenue'].values

In [ ]:
jobs['revenue'].value_counts

In [145]:
jobs = jobs.replace({'revenue' : {'Unknown / Non-Applicable per year' : 'Unknown / Non-Applicable'}})

In [146]:
jobs['revenue'].value_counts()

Unknown / Non-Applicable                     72
$10+ billion (CAD) per year                  46
$2 to $5 billion (CAD) per year              24
$100 to $500 million (CAD) per year          13
$50 to $100 million (CAD) per year           11
$5 to $10 billion (CAD) per year             11
$10 to $25 million (CAD) per year             8
$1 to $2 billion (CAD) per year               8
Less than $1 million (CAD) per year           4
$500 million to $1 billion (CAD) per year     4
$1 to $5 million (CAD) per year               3
$5 to $10 million (CAD) per year              3
Name: revenue, dtype: int64

In [147]:
jobs['company_rating'].value_counts()

3.9           26
3.8           21
4.0           19
4.1           10
3.5            9
3.3            9
4.3            9
4.2            9
3.1            8
3.7            8
3.4            8
5.0            8
2.9            8
-1             7
4.5            6
4.4            6
0.0            4
3.6            3
2.8            3
3.0            3
4.8            3
4.7            2
4.6            2
4.9            2
5.0\n★★★★★     2
3.8\n★★★★★     2
3.2            2
4.3\n★★★★★     1
2.6            1
3.0\n★★★★★     1
3.7\n★★★★★     1
2.2            1
Name: company_rating, dtype: int64

In [163]:
jobs['company_rating'].dtypes

dtype('O')

In [171]:
def fix_company_ratings(company_rating):
    if type(company_rating) != str:
        return company_rating
    else:
        company_rating = re.sub('[^0-9.]','', company_rating)
        return company_rating

In [172]:
jobs['company_rating'] = jobs['company_rating'].apply(fix_company_ratings)

In [176]:
missing_company_rating = jobs[jobs['company_rating'] == -1]

In [179]:
missing_company_rating

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
0,TikTok,Data Scientist - TikTok Ads,"Mountain View, CA",https://www.linkedin.com/jobs/view/2148228403,144000,TikTok is the leading destination for short-fo...,[],,-1,1001 to 5000 employees,Private,Internet,Unknown / Non-Applicable,-1,-1,-1,2.7,CA
47,Bosch USA,Data Scientist,"Sunnyvale, CA",https://www.linkedin.com/jobs/view/1960609409,135000,Job Description\nThis is a technical position ...,[Execute complex data science projects that ha...,,"Gerlingen, Baden-Württemberg (Germany)",10000+ employees,Private,Computer Hardware & Software,$10+ billion (CAD) per year,-1,-1,-1,,CA
81,Arizona State University,Data Scientist,"Phoenix, Arizona, United States",https://www.linkedin.com/jobs/view/2000022726,58300,Data Scientist\nArizona State University\nCamp...,[],Job Details\nIndustry\nHigher Education\nEmplo...,-1,5001 to 10000 employees,College / University,Colleges & Universities,$2 to $5 billion (CAD) per year,-1,-1,-1,2.4,AZ
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,Private,Enterprise Software & Network Solutions,Unknown / Non-Applicable,-1,100,-1,-1,MD
175,Parsons Corporation,Data Scientist / Research Scientist,"Aberdeen, MD",https://www.linkedin.com/jobs/view/2147857096,95200,The U.S. Army Research Laboratory Computationa...,"[Work with a multi-disciplinary team, Investig...",Industry\nCivil Engineering\nEmployment Type\n...,"Centreville, VA (US)",10000+ employees,Public,IT Services,$2 to $5 billion (CAD) per year,-1,71,80,2.6,MD
177,Bosch USA,Data Scientist - Deep Learning,"Sunnyvale, CA",https://www.linkedin.com/jobs/view/1960607467,136000,Job Description\nBosch is at the forefront of ...,[Execute complex machine learning and deep lea...,,"Gerlingen, Baden-Württemberg (Germany)",10000+ employees,Private,Computer Hardware & Software,$10+ billion (CAD) per year,-1,-1,-1,,CA
179,Miles,Data Scientist,"Redwood City, CA",https://www.linkedin.com/jobs/view/1642504002,142000,What you'll need:\n\nEducation\nMaster's/PhD (...,[Master's/PhD (preferred) or Bachelor's (requi...,Seniority Level\nEntry level\nIndustry\nMarket...,-1,1 to 50 employees,Private,Internet,Unknown / Non-Applicable,-1,-1,-1,-1,CA

In [177]:
importlib.reload(gd_scraper)
missing_company_rating_recommend_ceo_interview_df = gd_scraper.scrape_glassdoor_company_info(missing_company_rating.company.values)

finished scraping company # 1
finished scraping company # 2
finished scraping company # 3
finished scraping company # 4
finished scraping company # 5
finished scraping company # 6
finished scraping company # 7

In [178]:
missing_company_rating_recommend_ceo_interview_df

,company,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,TikTok,-1,79,100,2.7
1,Bosch USA,4.1\n★★★★★,89,96,2.9
2,Arizona State University,4.3\n★★★★★,85,82,2.4
3,Insightin | Health,5.0\n★★★★★,100,-1,-1
4,Parsons Corporation,3.6\n★★★★★,71,81,2.6
5,Bosch USA,4.1\n★★★★★,89,96,2.9
6,Miles,1.8\n★★★★★,0,100,3

In [180]:
missing_company_rating_recommend_ceo_interview_df.loc[0, 'company_rating'] = 4.1

In [181]:
missing_company_rating_recommend_ceo_interview_df['company_rating'] = missing_company_rating_recommend_ceo_interview_df['company_rating'].apply(fix_company_ratings)

In [182]:
missing_company_rating_recommend_ceo_interview_df

,company,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,TikTok,4.1,79,100,2.7
1,Bosch USA,4.1,89,96,2.9
2,Arizona State University,4.3,85,82,2.4
3,Insightin | Health,5.0,100,-1,-1
4,Parsons Corporation,3.6,71,81,2.6
5,Bosch USA,4.1,89,96,2.9
6,Miles,1.8,0,100,3

In [183]:
jobs.loc[missing_company_rating.index, ['company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']] = missing_company_rating_recommend_ceo_interview_df[['company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']].values

In [186]:
jobs[jobs['company_rating']=='0.0']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
29,Intellibee Inc,Data Scientist,"Montgomery County, KS",https://www.linkedin.com/jobs/view/2161279589,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,IT Services,Unknown / Non-Applicable,0.0,-1,-1,-1,Other
43,"IDR, Inc.",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2148117911,123000,Data Scientist\nIDR's largest client is in nee...,"[2+ years of experience in Data Science, 1+ ye...",Seniority Level\nMid-Senior level\nIndustry\nI...,Unknown,201 to 500 employees,Private,Unknown / Non-Applicable per year,$50 to $100 million (CAD) per year,0.0,-1,-1,-1,NY
134,Intellibee Inc,Data Scientist,"Montgomery, KS, US",https://www.linkedin.com/jobs/view/2161280305,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,IT Services,Unknown / Non-Applicable,0.0,-1,-1,-1,Other
198,Accuro,Data Scientist,"Chicago, IL",https://www.linkedin.com/jobs/view/2166185056,94400,Job Description\nHands on experience in buildi...,[Hands on experience in building machine learn...,Seniority Level\nEntry level\nIndustry\nInform...,"Plano, TX (US)",201 to 500 employees,Subsidiary or Business Segment,Computer Hardware & Software,$50 to $100 million (CAD) per year,0.0,-1,-1,-1,IL

In [187]:
jobs.loc[43, 'company_rating'] = 4.1

In [188]:
jobs.iloc[70]

company                                                           One Drop
title                                                       Data Scientist
location                                                      New York, NY
href                         https://www.linkedin.com/jobs/view/1992841869
salary                                                              127000
description              We’re seeing a passionate Data Scientist to jo...
skills                   [Developing machine learning, deep learning, o...
details                  Seniority Level\nEntry level\nIndustry\nMarket...
headquarters                                                  Montreal, QC
company_size                                             1 to 50 employees
company_type                                                       Private
industry                                      Computer Hardware & Software
revenue                                           Unknown / Non-Applicable
company_rating                                                         2.8
recommend_to_a_friend                                                    0
ceo_approval                                                            -1
interview_difficulty                                                    -1
location_bin                                                            NY
Name: 70, dtype: object

In [189]:
jobs.loc[70, ['revenue', 'company_rating', 'recommend_to_a_friend']] = ['Less than $1 million (CAD) per year', 0.0, -1]

In [190]:
jobs.iloc[84]

company                                                             &facts
title                                                       Data Scientist
location                                            United Kingdom\nRemote
href                         https://www.linkedin.com/jobs/view/2023714208
salary                                                              102000
description              What we're looking for...\nAt &facts, you'll b...
skills                   [A passion for helping small businesses thrive...
details                  Job Details\nSeniority Level\nEntry level\nInd...
headquarters                                                Clute, TX (US)
company_size                                             1 to 50 employees
company_type                                                       Private
industry                                           Advertising & Marketing
revenue                                           Unknown / Non-Applicable
company_rating                                                         2.2
recommend_to_a_friend                                                   18
ceo_approval                                                            -1
interview_difficulty                                                     1
location_bin                                                         Other
Name: 84, dtype: object

In [191]:
jobs.loc[84, ['company_type', 'company_rating', 'recommend_to_a_friend', 'interview_difficulty']] = ['Public', 0.0, -1, -1]

In [192]:
jobs.iloc[43]

company                                                          IDR, Inc.
title                                                       Data Scientist
location                                                      New York, NY
href                         https://www.linkedin.com/jobs/view/2148117911
salary                                                              123000
description              Data Scientist\nIDR's largest client is in nee...
skills                   [2+ years of experience in Data Science, 1+ ye...
details                  Seniority Level\nMid-Senior level\nIndustry\nI...
headquarters                                                       Unknown
company_size                                          201 to 500 employees
company_type                                                       Private
industry                                 Unknown / Non-Applicable per year
revenue                                 $50 to $100 million (CAD) per year
company_rating                                                         4.1
recommend_to_a_friend                                                   -1
ceo_approval                                                            -1
interview_difficulty                                                    -1
location_bin                                                            NY
Name: 43, dtype: object

In [193]:
jobs.loc[43, ['industry', 'recommend_to_a_friend', 'ceo_approval']] = ['Staffing & Outsourcing', 77, 91]

In [196]:
jobs['company_rating'] = jobs['company_rating'].astype(float)

In [205]:
jobs = jobs.replace({'company_rating' : {0.0 : -1}})

In [207]:
jobs['recommend_to_a_friend'].value_counts()

100    17
77     10
78      9
80      9
83      8
82      8
60      7
-1      7
74      5
76      5
75      5
79      5
37      5
73      4
81      4
67      4
64      4
86      4
59      4
62      4
63      4
84      4
69      4
93      3
68      3
94      3
87      3
45      3
89      3
51      3
90      3
42      3
85      3
72      2
61      2
92      2
71      2
47      2
55      2
53      2
43      2
57      2
66      2
91      2
70      1
88      1
54      1
65      1
0       1
52      1
26      1
40      1
58      1
99      1
77      1
44      1
Name: recommend_to_a_friend, dtype: int64

In [211]:
jobs[jobs['recommend_to_a_friend'] == -1]

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
29,Intellibee Inc,Data Scientist,"Montgomery County, KS",https://www.linkedin.com/jobs/view/2161279589,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
54,Spring Discovery,Applied Data Scientist,"San Carlos, CA",https://www.linkedin.com/jobs/view/1966697903,148000,Spring is accelerating the discovery of therap...,[ Experience. You have 3+ years of real-world ...,Seniority Level\nEntry level\nIndustry\nResear...,"Murfreesboro, TN (US)",1 to 50 employees,Private,Computer Hardware & Software,Unknown / Non-Applicable,4.0,-1,-1,-1,CA
70,One Drop,Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/1992841869,127000,We’re seeing a passionate Data Scientist to jo...,"[Developing machine learning, deep learning, o...",Seniority Level\nEntry level\nIndustry\nMarket...,"Montreal, QC",1 to 50 employees,Private,Computer Hardware & Software,Less than $1 million (CAD) per year,-1.0,-1,-1,-1,NY
84,&facts,Data Scientist,United Kingdom\nRemote,https://www.linkedin.com/jobs/view/2023714208,102000,"What we're looking for...\nAt &facts, you'll b...",[A passion for helping small businesses thrive...,Job Details\nSeniority Level\nEntry level\nInd...,"Clute, TX (US)",1 to 50 employees,Public,Advertising & Marketing,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
87,Limetree,Data Scientist,Dallas-Fort Worth Metroplex,https://www.linkedin.com/jobs/view/1996346931,124000,Limetree is a behavioral marketing company wit...,[Understand member or customer churn and help ...,-1,"Sarasota, FL (US)",1 to 50 employees,Private,Hotel & Resorts,Less than $1 million (CAD) per year,3.0,-1,-1,-1,TX
134,Intellibee Inc,Data Scientist,"Montgomery, KS, US",https://www.linkedin.com/jobs/view/2161280305,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",Unknown,Public,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
198,Accuro,Data Scientist,"Chicago, IL",https://www.linkedin.com/jobs/view/2166185056,94400,Job Description\nHands on experience in buildi...,[Hands on experience in building machine learn...,Seniority Level\nEntry level\nIndustry\nInform...,"Plano, TX (US)",201 to 500 employees,Subsidiary or Business Segment,Computer Hardware & Software,$50 to $100 million (CAD) per year,-1.0,-1,-1,-1,IL

In [213]:
jobs.loc[54, ['industry', 'company_rating']] = ['Biotech & Pharmaceuticals', -1]
jobs.loc[[29, 134], ['company_size', 'company_type']] = [['1 to 50 employees','Private'], ['1 to 50 employees','Private']]
jobs.loc[87, ['industry', 'revenue', 'company_rating', 'recommend_to_a_friend']] = ['Advertising & Marketing', '$10 to $25 million (CAD) per year', 4.0, 0]
jobs.loc[198, ['company_type', 'industry', 'revenue', 'company_rating', 'recommend_to_a_friend', 'ceo_approval']] = ['Private', 'Staffing & Outsourcing', 'Unknown / Non-Applicable', 3.1, 59, 53]

In [214]:
jobs['ceo_approval'].value_counts()

-1     22
100    22
91      9
95      7
85      7
87      7
93      7
96      7
89      7
98      5
83      5
82      5
80      5
51      5
94      4
67      4
75      4
90      4
66      3
33      3
78      3
71      3
77      3
88      3
81      3
64      2
54      2
45      2
74      2
97      2
72      2
76      2
59      2
68      2
84      2
69      2
86      2
92      2
99      2
53      2
60      1
63      1
70      1
37      1
57      1
61      1
79      1
46      1
91      1
73      1
62      1
56      1
30      1
47      1
53      1
55      1
28      1
Name: ceo_approval, dtype: int64

In [215]:
jobs[jobs['ceo_approval'] == -1]

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
10,PicnicHealth,Data Scientist / Biostatistician,"San Francisco, CA",https://www.linkedin.com/jobs/view/2023894563,144000,Overview\n\nPicnicHealth is all about making m...,"[Use PicnicHealth’s large, multi-disease multi...",,"San Francisco, CA (US)",1 to 50 employees,Private,Computer Hardware & Software,Unknown / Non-Applicable,4.8,100,-1,3,CA
29,Intellibee Inc,Data Scientist,"Montgomery County, KS",https://www.linkedin.com/jobs/view/2161279589,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",1 to 50 employees,Private,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
31,Loblaw Digital,Data Scientist,"Toronto, ON",https://www.linkedin.com/jobs/view/1996955933,77250,"At Loblaw Digital, we know that our customers ...","[Build robust, scalable, high performance Pred...",Seniority Level\nEntry level\nIndustry\nInform...,"Toronto, ON",51 to 200 employees,Public,Internet,Unknown / Non-Applicable,3.1,42,-1,2.7,ON
45,Beyond Limits,Data Scientist,"Glendale, CA",https://www.linkedin.com/jobs/view/2008112009,116000,Description\n\nPosition Overview\n\nOur data s...,"[Ingest, organize, and analyze data from vario...",Seniority Level\nEntry level\nIndustry\nInform...,"Glendale, CA (US)",51 to 200 employees,Private,Research & Development,Unknown / Non-Applicable,4.3,84,-1,2.8,CA
54,Spring Discovery,Applied Data Scientist,"San Carlos, CA",https://www.linkedin.com/jobs/view/1966697903,148000,Spring is accelerating the discovery of therap...,[ Experience. You have 3+ years of real-world ...,Seniority Level\nEntry level\nIndustry\nResear...,"Murfreesboro, TN (US)",1 to 50 employees,Private,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1.0,-1,-1,-1,CA
70,One Drop,Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/1992841869,127000,We’re seeing a passionate Data Scientist to jo...,"[Developing machine learning, deep learning, o...",Seniority Level\nEntry level\nIndustry\nMarket...,"Montreal, QC",1 to 50 employees,Private,Computer Hardware & Software,Less than $1 million (CAD) per year,-1.0,-1,-1,-1,NY
84,&facts,Data Scientist,United Kingdom\nRemote,https://www.linkedin.com/jobs/view/2023714208,102000,"What we're looking for...\nAt &facts, you'll b...",[A passion for helping small businesses thrive...,Job Details\nSeniority Level\nEntry level\nInd...,"Clute, TX (US)",1 to 50 employees,Public,Advertising & Marketing,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
87,Limetree,Data Scientist,Dallas-Fort Worth Metroplex,https://www.linkedin.com/jobs/view/1996346931,124000,Limetree is a behavioral marketing company wit...,[Understand member or customer churn and help ...,-1,"Sarasota, FL (US)",1 to 50 employees,Private,Advertising & Marketing,$10 to $25 million (CAD) per year,4.0,0,-1,-1,TX
92,Flywheel Digital,Data Scientist,"Baltimore, Maryland, United States",https://www.linkedin.com/jobs/view/2011468036,128000,Flywheel Digital by Ascential\n\nPosition: Dat...,[Own data science projects through full cycle ...,Job Details\nSeniority Level\nMid-Senior level...,"Baltimore, MD (US)",Unknown,Public,Advertising & Marketing,Unknown / Non-Applicable,3.3,57,-1,-1,MD
93,Full Circle Recruitment Ltd,Data Scientist,"London, England, United Kingdom",https://www.linkedin.com/jobs/view/2010225259,62000,R/Python - Data Scientist £40-58K + Package\n\...,[],Job Details\nSeniority Level\nMid-Senior level...,1 to 50 employees,Unknown,Private,Staffing & Outsourcing,Less than $1 million (CAD) per year,3.8,82,-1,3.6,Other
95,Data Society,Data Scientist,"Washington, D.C., DC, US",https://www.linkedin.com/jobs/view/2163478017,132000,Data Society is hiring a Data Scientist who is...,[Eight (8) years relevant experience in applie...,Seniority Level\nEntry level\nIndustry\nInform...,"New York, NY (US)",1 to 50 employees,Non-profit Organisation,Charitable Foundations,$1 to $5 million (CAD) per year,2.9,62,-1,3,D.C.
109,Codex Recruitment - Data Analytics and EPM Rec...,Data Scientist,San Francisco Bay Area,https://www.linkedin.com/jobs/view/2013720049,130000,"Data Scientist – San Francisco - $120-140,000\...",[],Job Details\nSeniority Level\nMid-Senior level...,NaN,1 to 50 employees,Private,Computer Hardware & Software,Unknown / Non-Applicable,3.8,65,-1,3,CA
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,Private,Enterprise Software & Network Solutions,Unknown / Non-Applicable,5.0,100,-1,-1,MD
111,PicnicHealth,Data Scientist - Operations,"San Francisco, California, United States",https://www.linkedin.com/jobs/view/2023896491,144000,Overview\n\nPicnicHealth is a San Francisco-ba...,[Work with a cross-functional team to model co...,Job Details\nSeniority Level\nMid-Senior level...,"San Francisco, CA (US)",1 to 50 employees,Private,Computer Hardware & Software,Unknown / Non-Applicable,4.8,100,-1,3,CA
122,Penn Interactive,Data Scientist,"Philadelphia, PA, US",https://www.linkedin.com/jobs/view/2163079761,93400,Overview\n\nPenn Interactive (PI) is a real-mo...,[ Identify and specify data needs and quality ...,Seniority Level\nEntry level\nIndustry\nInform...,"Philadelphia, PA (US)",51 to 200 employees,Public,Internet,Unknown / Non-Applicable,5.0,100,-1,-1,Other
134,Intellibee Inc,Data Scientist,"Montgomery, KS, US",https://www.linkedin.com/jobs/view/2161280305,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",1 to 50 employees,Private,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
141,"E-Business International, Inc",Data Scientist,"Virginia, MN, US",https://www.linkedin.com/jobs/view/2161163946,94400,Job Description Role Senior Data scientist Loc...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Beaverton, OR (US)",51 to 200 employees,Private,Miscellaneous Manufacturing,$5 to $10 million (CAD) per year,4.0,100,-1,-1,Other
149,"Data Works, an E3/Sentinel Company",Data Scientist,"Chantilly, VA, US\nRemote",https://www.linkedin.com/jobs/view/1981379030,94200,Data Works is an employee-focused technology c...,"[Work with large, complex, and disparate data ...",Seniority Level\nEntry level\nIndustry\nInform...,NaN,1 to 50 employees,Private,Enterprise Software & Network Solutions,$5 to $10 million (CAD) per year,5.0,100,-1,-1,VA
154,"IS&T Consulting Group, LLC",Data Scientist,"Houston, TX, US",https://www.linkedin.com/jobs/view/2022190594,93300,The position is for a true Lead Data Scientist...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Houston, TX (US)",1 to 50 employees,Private,IT Services,$1 to $5 million (CAD) per year,5.0,100,-1,-1,TX
155,ProTask Inc,Data Scientist #TBD,"Phoenix, AZ, US",https://www.linkedin.com/jobs/view/2003400410,87700,"TELECOM CLEINT- Phoenix, AZ\nDATA SCIENTIST\n2...",[],Seniority Level\nEntry level\nIndustry\nInform...,"Reston, VA (US)",1 to 50 employees,Private,Staffing & Outsourcing,Unknown / Non-Applicable,5.0,100,-1,-1,AZ
178,FootBridge Consulting,Data Scientist (remote to start),"Boston, MA\nRemote",https://www.linkedin.com/jobs/view/2165879180,101000,Data Scientist (remote to start) Our client in...,[],Seniority Level\nEntry level\nIndustry\nAutomo...,"Pensacola, FL (US)",1 to 50 employees,Private,Advertising & Marketing,Unknown / Non-Applicable,3.9,80,-1,2.5,MA
187,MBN Solutions,Data Scientist,"London, England Metropolitan Area",https://www.linkedin.com/jobs/view/2011658600,76455,"MBNs client, an award-winning Telecommunicatio...","[Experience in end to end model development, i...",-1,"Glasgow, Scotland (UK)",1 to 50 employees,Private,Staffing & Outsourcing,Unknown / Non-Applicable,3.8,66,-1,3,England

In [216]:
jobs.loc[45, ['recommend_to_a_friend', 'ceo_approval']] = [76, 100]
jobs.loc[95, ['company_type', 'industry', 'revenue', 'company_rating', 'recommend_to_a_friend', 'interview_difficulty']] = ['Private', 'IT Services', 'Unknown / Non-Applicable', 5.0, 100, -1]
jobs.loc[109, ['company_type', 'industry', 'company_rating', 'recommend_to_a_friend', 'interview_difficulty']] = ['Public', 'Staffing & Outsourcing', -1, -1, -1]
jobs.loc[178, ['company_size', 'industry', 'company_rating', 'recommend_to_a_friend', 'ceo_approval', 'interview_difficulty']] = ['51 to 200 employees', 'Staffing & Outsourcing', 5.0, 100, 100, -1]

In [217]:
jobs['interview_difficulty'].value_counts()

2.9    28
2.8    27
3      27
2.7    24
-1     24
2.5    15
3.1    11
2.4    10
2.6     8
2.2     7
2.3     5
2.1     3
1.9     3
2       3
4       2
3.3     2
3.2     2
3.6     1
1.5     1
3.5     1
Name: interview_difficulty, dtype: int64

In [218]:
jobs[jobs['interview_difficulty'] == -1]

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
29,Intellibee Inc,Data Scientist,"Montgomery County, KS",https://www.linkedin.com/jobs/view/2161279589,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",1 to 50 employees,Private,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
43,"IDR, Inc.",Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/2148117911,123000,Data Scientist\nIDR's largest client is in nee...,"[2+ years of experience in Data Science, 1+ ye...",Seniority Level\nMid-Senior level\nIndustry\nI...,Unknown,201 to 500 employees,Private,Staffing & Outsourcing,$50 to $100 million (CAD) per year,4.1,77,91,-1,NY
54,Spring Discovery,Applied Data Scientist,"San Carlos, CA",https://www.linkedin.com/jobs/view/1966697903,148000,Spring is accelerating the discovery of therap...,[ Experience. You have 3+ years of real-world ...,Seniority Level\nEntry level\nIndustry\nResear...,"Murfreesboro, TN (US)",1 to 50 employees,Private,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1.0,-1,-1,-1,CA
70,One Drop,Data Scientist,"New York, NY",https://www.linkedin.com/jobs/view/1992841869,127000,We’re seeing a passionate Data Scientist to jo...,"[Developing machine learning, deep learning, o...",Seniority Level\nEntry level\nIndustry\nMarket...,"Montreal, QC",1 to 50 employees,Private,Computer Hardware & Software,Less than $1 million (CAD) per year,-1.0,-1,-1,-1,NY
84,&facts,Data Scientist,United Kingdom\nRemote,https://www.linkedin.com/jobs/view/2023714208,102000,"What we're looking for...\nAt &facts, you'll b...",[A passion for helping small businesses thrive...,Job Details\nSeniority Level\nEntry level\nInd...,"Clute, TX (US)",1 to 50 employees,Public,Advertising & Marketing,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
87,Limetree,Data Scientist,Dallas-Fort Worth Metroplex,https://www.linkedin.com/jobs/view/1996346931,124000,Limetree is a behavioral marketing company wit...,[Understand member or customer churn and help ...,-1,"Sarasota, FL (US)",1 to 50 employees,Private,Advertising & Marketing,$10 to $25 million (CAD) per year,4.0,0,-1,-1,TX
92,Flywheel Digital,Data Scientist,"Baltimore, Maryland, United States",https://www.linkedin.com/jobs/view/2011468036,128000,Flywheel Digital by Ascential\n\nPosition: Dat...,[Own data science projects through full cycle ...,Job Details\nSeniority Level\nMid-Senior level...,"Baltimore, MD (US)",Unknown,Public,Advertising & Marketing,Unknown / Non-Applicable,3.3,57,-1,-1,MD
95,Data Society,Data Scientist,"Washington, D.C., DC, US",https://www.linkedin.com/jobs/view/2163478017,132000,Data Society is hiring a Data Scientist who is...,[Eight (8) years relevant experience in applie...,Seniority Level\nEntry level\nIndustry\nInform...,"New York, NY (US)",1 to 50 employees,Private,IT Services,Unknown / Non-Applicable,5.0,100,-1,-1,D.C.
103,JumpStart Inc.,Data Scientist,"Cleveland, OH, US",https://www.linkedin.com/jobs/view/2019858537,87200,Job Title: Data Scientist\n\nFunction: Data an...,[Use Proformex customer data to support busine...,Seniority Level\nEntry level\nIndustry\nInform...,"Cleveland, OH (US)",51 to 200 employees,Non-profit Organisation,Social Services,$10 to $25 million (CAD) per year,4.1,43,100,-1,Other
109,Codex Recruitment - Data Analytics and EPM Rec...,Data Scientist,San Francisco Bay Area,https://www.linkedin.com/jobs/view/2013720049,130000,"Data Scientist – San Francisco - $120-140,000\...",[],Job Details\nSeniority Level\nMid-Senior level...,NaN,1 to 50 employees,Public,Staffing & Outsourcing,Unknown / Non-Applicable,-1.0,-1,-1,-1,CA
110,Insightin | Health,Data Scientist,"Baltimore, MD, US",https://www.linkedin.com/jobs/view/2158873148,132000,Join one of the fastest growing Healthcare Tec...,[Work with stakeholders throughout the organiz...,Seniority Level\nEntry level\nIndustry\nInform...,-1,1 to 50 employees,Private,Enterprise Software & Network Solutions,Unknown / Non-Applicable,5.0,100,-1,-1,MD
122,Penn Interactive,Data Scientist,"Philadelphia, PA, US",https://www.linkedin.com/jobs/view/2163079761,93400,Overview\n\nPenn Interactive (PI) is a real-mo...,[ Identify and specify data needs and quality ...,Seniority Level\nEntry level\nIndustry\nInform...,"Philadelphia, PA (US)",51 to 200 employees,Public,Internet,Unknown / Non-Applicable,5.0,100,-1,-1,Other
133,Culmen International,Data Scientist,"Arlington, VA, US",https://www.linkedin.com/jobs/view/1994712437,95600,"Data Scientist\nArlington, VA 20301\n\nSecurit...",[Demonstrates a broad knowledge of the technic...,Industry\nInformation Technology & Services De...,"Alexandria, VA (US)",201 to 500 employees,Private,Government Agencies,$50 to $100 million (CAD) per year,3.8,89,100,-1,VA
134,Intellibee Inc,Data Scientist,"Montgomery, KS, US",https://www.linkedin.com/jobs/view/2161280305,91400,IBM i2 EIA (MUST) SQL Understanding of Data Wa...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Detroit, MI (US)",1 to 50 employees,Private,IT Services,Unknown / Non-Applicable,-1.0,-1,-1,-1,Other
135,SynapOne,Data Scientist,"Mooresville, NC, US",https://www.linkedin.com/jobs/view/1996025114,92600,Data scientists\n\nPhD in a quantitative field...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Chantilly, VA (US)",1 to 50 employees,Private,Accounting,$1 to $5 million (CAD) per year,3.8,60,100,-1,NC
141,"E-Business International, Inc",Data Scientist,"Virginia, MN, US",https://www.linkedin.com/jobs/view/2161163946,94400,Job Description Role Senior Data scientist Loc...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Beaverton, OR (US)",51 to 200 employees,Private,Miscellaneous Manufacturing,$5 to $10 million (CAD) per year,4.0,100,-1,-1,Other
148,Mass Insight Education & Research,Data Scientist,"Boston, MA, US",https://www.linkedin.com/jobs/view/2005807159,94800,About Mass Insight\n\nMass Insight Education &...,[ Collaborating with Bill &amp; Melinda Gates ...,Seniority Level\nEntry level\nIndustry\nNon-pr...,"Boston, MA (US)",1 to 50 employees,Non-profit Organisation,Education Training Services,$5 to $10 million (CAD) per year,3.9,78,100,-1,MA
149,"Data Works, an E3/Sentinel Company",Data Scientist,"Chantilly, VA, US\nRemote",https://www.linkedin.com/jobs/view/1981379030,94200,Data Works is an employee-focused technology c...,"[Work with large, complex, and disparate data ...",Seniority Level\nEntry level\nIndustry\nInform...,NaN,1 to 50 employees,Private,Enterprise Software & Network Solutions,$5 to $10 million (CAD) per year,5.0,100,-1,-1,VA
154,"IS&T Consulting Group, LLC",Data Scientist,"Houston, TX, US",https://www.linkedin.com/jobs/view/2022190594,93300,The position is for a true Lead Data Scientist...,[],Seniority Level\nEntry level\nIndustry\nInform...,"Houston, TX (US)",1 to 50 employees,Private,IT Services,$1 to $5 million (CAD) per year,5.0,100,-1,-1,TX
155,ProTask Inc,Data Scientist #TBD,"Phoenix, AZ, US",https://www.linkedin.com/jobs/view/2003400410,87700,"TELECOM CLEINT- Phoenix, AZ\nDATA SCIENTIST\n2...",[],Seniority Level\nEntry level\nIndustry\nInform...,"Reston, VA (US)",1 to 50 employees,Private,Staffing & Outsourcing,Unknown / Non-Applicable,5.0,100,-1,-1,AZ
156,Kernel,Data Scientist,"Culver City, California, US",https://www.linkedin.com/jobs/view/2153921713,108000,Kernel is building state-of-the-art hardware f...,"[Rapidly research, implement, validate, and ex...",Seniority Level\nEntry level\nIndustry\nInform...,"Los Angeles, CA (US)",51 to 200 employees,Private,Computer Hardware & Software,Less than $1 million (CAD) per year,4.6,86,85,-1,CA
178,FootBridge Consulting,Data Scientist (remote to start),"Boston, MA\nRemote",https://www.linkedin.com/jobs/view/2165879180,101000,Data Scientist (remote to start) Our client in...,[],Seniority Level\nEntry level\nIndustry\nAutomo...,"Pensacola, FL (US)",51 to 200 employees,Private,Staffing & Outsourcing,Unknown / Non-Applicable,5.0,100,100,-1,MA
189,Apply Recruitment,Data Scientist,"Cheshire, England, United Kingdom\nRemote",https://www.linkedin.com/jobs/view/2006329197,86012,"Data Scientist required, working in the R&D te...",[Statistical analysis experience across a rang...,-1,NaN,1 to 50 employees,Private,Staffing & Outsourcing,Less than $1 million (CAD) per year,5.0,100,100,-1,Other
198,Accuro,Data Scientist,"Chicago, IL",https://www.linkedin.com/jobs/view/2166185056,94400,Job Description\nHands on experience in buildi...,[Hands on experience in building machine learn...,Seniority Level\nEntry level\nIndustry\nInform...,"Plano, TX (US)",201 to 500 employees,Private,Staffing & Outsourcing,Unknown / Non-Applicable,3.1,59,53,-1,IL

In [219]:
jobs.loc[189, ['revenue', 'company_rating', 'recommend_to_a_friend', 'ceo_approval']] = ['Unknown / Non-Applicable', -1, -1, -1]

In [223]:
jobs['company_size'].value_counts()

10000+ employees           73
1001 to 5000 employees     32
1 to 50 employees          30
51 to 200 employees        23
5001 to 10000 employees    19
201 to 500 employees       17
501 to 1000 employees       7
Unknown                     6
Name: company_size, dtype: int64

In [229]:
jobs = jobs.replace({'company_size' : {'Unknown' : -1}})

In [224]:
jobs['company_type'].value_counts()

Private                           93
Public                            81
College / University               9
Subsidiary or Business Segment     8
Non-profit Organisation            7
Government                         7
Other                              1
Hospital                           1
Name: company_type, dtype: int64

In [230]:
jobs[jobs['company_type'] == 'Other']

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty,location_bin
90,Saatchi & Saatchi (We Are Saatchi),Data Scientist,"Dallas, TX, US",https://www.linkedin.com/jobs/view/2000560526,106000,At Saatchi & Saatchi we believe in creating id...,[Deliver actionable insights to our clients le...,Seniority Level\nEntry level\nIndustry\nMarket...,"London, England (UK)",501 to 1000 employees,Other,Advertising & Marketing,$100 to $500 million (CAD) per year,3.4,55,87,2.7,TX

In [231]:
jobs.loc[90, 'company_type'] = 'Public'

In [225]:
jobs['industry'].value_counts()

Computer Hardware & Software               25
Internet                                   19
Staffing & Outsourcing                     18
IT Services                                14
Enterprise Software & Network Solutions    13
Colleges & Universities                    10
Healthcare Services & Hospitals             9
Aerospace & Defence                         8
Insurance Operators                         8
Government Agencies                         7
Consulting                                  7
Biotech & Pharmaceuticals                   6
Advertising & Marketing                     6
Department, Clothing, & Shoe Shops          5
Transportation Equipment Manufacturing      4
Research & Development                      3
Video Games                                 3
Other Retail Shops                          3
Legal                                       3
Food & Drink Manufacturing                  2
Accounting                                  2
Pet & Pet Supply Shops                      2
Energy                                      2
Miscellaneous Manufacturing                 2
Banks & Building Societies                  2
Industrial Manufacturing                    2
News Outlets                                1
Logistics & Supply Chain                    1
Chemical Manufacturing                      1
Consumer Product Hire                       1
General Merchandise & Superstores           1
Transportation Management                   1
Health Charities                            1
Consumer Products Manufacturing             1
Investment Banking & Asset Management       1
Express Delivery Services                   1
Vehicle Dealers                             1
Regional & County Councils                  1
Education Training Services                 1
Telecommunications Services                 1
Mining                                      1
Grocery Shops & Supermarkets                1
Lending                                     1
Health, Beauty & Fitness                    1
Pharmacies & Health Shops                   1
Social Services                             1
Architectural & Engineering Services        1
Utilities                                   1
Name: industry, dtype: int64

In [226]:
jobs['revenue'].value_counts()

Unknown / Non-Applicable                     74
$10+ billion (CAD) per year                  46
$2 to $5 billion (CAD) per year              24
$100 to $500 million (CAD) per year          13
$5 to $10 billion (CAD) per year             11
$50 to $100 million (CAD) per year           10
$10 to $25 million (CAD) per year             9
$1 to $2 billion (CAD) per year               8
$500 million to $1 billion (CAD) per year     4
Less than $1 million (CAD) per year           3
$5 to $10 million (CAD) per year              3
$1 to $5 million (CAD) per year               2
Name: revenue, dtype: int64

In [232]:
jobs = jobs.replace({'revenue' : {'Unknown / Non-Applicable' : -1}})

In [ ]:

# 
# 
#
# 
# cv with different imputation strategues for continuous variables and revenue and company size